<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Wedding Planner</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="index container">
      <p><a href="/Register">Register</a> <a href="/Login">Login</a></p>
      <span class="index-header">Welcome to Wedding Planner</span>
    </div>
  </body>
</html>
