<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Wedding Planner</title>
    <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css" />
  </head>
  <body>
    <div class="container">
      <div class="text-center">
        <h1>@ViewBag.WeddingName</h1>
        <h3>@ViewBag.Location</h3>
        <h3>@ViewBag.Date</h3>
      </div>
      <div>@await Html.PartialAsync("AddGuest.cshtml")</div>
      <div>@await Html.PartialAsync("GuestList.cshtml")</div>
    </div>
  </body>
</html>
